body {
  margin: 0;
  padding: 0;
  font-family: 'Lora', serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background:linear-gradient(rgba(28,35,49, .97), rgba(28,35,49, .97)) ;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
